<!-- Sección Informativa -->
<section class="info-section mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-16">
  <div class="container-custom mx-auto px-4 py-16 rounded-xl">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <!-- Imagen a la izquierda -->
      <div class="">
        <img
          src="images/epico.jpg"
          alt="Épico, la mascota de Epicstoria, presentando la historia del mundo"
          class=""
          loading="lazy"
        />
      </div>

      <!-- Texto a la derecha -->
      <div class="text-container text-color">
        <h2 class="text-4xl font-bold mb-6 text-color">
          Descubre la Historia junto a <strong>Épico</strong>
        </h2>
        <p class="text-lg text-color mb-4">
          Hola, mi nombre es <strong>Épico</strong>. Bienvenido a Epicstoria. Si te apasiona la
          historia, este es tu lugar. Aquí descubrirás grandes momentos del pasado: batallas
          legendarias, construcciones asombrosas, civilizaciones olvidadas y personajes históricos
          que cambiaron el rumbo del mundo.
        </p>
        <p class="text-lg text-color mb-4">
          En <strong>Epicstoria</strong> no solo lees historia… la vives. Cada relato está
          acompañado de un estilo visual único, cinematográfico y emocional, pensado para sumergirte
          por completo en cada época.
        </p>
        <p class="text-lg text-color mb-6">
          Atrévete a ir más allá: explora, aprende, juega y demuestra cuánto sabes del pasado que
          nos define. Ajusta el reloj de arena. El viaje comienza ahora.
        </p>
        <p class="text-lg text-color mb-6">Porque esto no es solo historia…</p>
        <img
          src="images/epico-sparta.jpg"
          alt="Épico en representación de guerreros espartanos - Esto es Epicstoria"
          class="w-1/2 mx-auto"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
