.info-section {
  color: #ffffff;

  .image-container {
    img {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  .text-container {
    ul {
      li {
        i {
          font-size: 1.25rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .text-container {
      margin-top: 2rem;
    }
  }
}
