<!-- Encabezado Fijo y Navegación -->
<header
  class="sticky top-0 z-10 border-b border-gray-700/50 bg-gray-900/90 shadow-xl backdrop-blur-sm"
>
  <div class="mx-auto flex max-w-7xl items-center justify-between sm:px-6 lg:px-8">
    <a routerLink="/" class="transition duration-150 hover:opacity-80">
      <img src="images/logo_transparent.png" alt="EpicStoria" class="h-17" />
    </a>
    <nav class="hidden space-x-6 text-sm font-medium sm:flex">
      <a
        routerLink="/"
        fragment="inicio"
        class="text-gray-300 transition duration-150 hover:text-blue-400"
        >Inicio</a
      >
      <a
        routerLink="/"
        fragment="eventos"
        class="text-gray-300 transition duration-150 hover:text-blue-400"
        >Eventos Clave</a
      >
      <a routerLink="/acerca" class="text-gray-300 transition duration-150 hover:text-blue-400"
        >Acerca</a
      >
    </nav>
  </div>
</header>
