<!-- Sección Principal (Hero) -->
<main id="inicio" class="hero-background relative overflow-hidden bg-cover bg-center bg-no-repeat">
  <!-- Contenido -->
  <div class="relative z-10 mx-auto max-w-7xl px-4 text-center sm:px-6 lg:px-8">
    <!-- <h2 class="mb-4 text-6xl font-black leading-tight text-white drop-shadow-lg">
      La Historia se Escribe <span class="text-blue-500">Día a Día</span>
    </h2>
    <p class="mx-auto mb-12 max-w-3xl text-xl text-gray-200 drop-shadow-md">
      Explora los momentos cruciales que cambiaron el mundo. Cada fecha, una imagen conceptual y un
      fragmento de texto que desvela la magnitud de los sucesos.
    </p> -->
  </div>
</main>
