.h-42 {
  height: 42rem;

  @media (min-width: 1920px) {
    height: auto;
    min-height: 42rem;
  }
}

.hero-background {
  background-size: 100% auto;
  background-position: center top;
  height: 800px;

  @media (max-width: 768px) {
    // La imagen móvil se aplicará desde el componente TypeScript
    background-size: cover;
  }

  &.hero-compact {
    height: 400px;
    background-position: center !important;
  }
}
