.heigth-full {
  height: 150%;
}

.border-cronologia {
  border-radius: 0.4rem;
}

.border-title {
  border-bottom: solid 2px #e1c7b1;
}

.imagen-dato-curioso {
  width: 100%;
  height: 300px;
  object-fit: cover;

  // En móviles, altura automática para no cortar la imagen
  @media (max-width: 768px) {
    height: auto;
  }
}

.icon-transparent {
  background: transparent !important;
  background-color: transparent !important;
}
