/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --color-primary: #1e40af; /* Azul Intenso */
  --color-secondary: #dc2626; /* Rojo para destacar */
  --color-text-light: #e1c7b1;
  --color-bg-dark: #111827;
  --color-card-bg: #1f2937;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #e8dcc4; /* color base beige/crema */
  background-image: url('/images/fondo_home.jpg'); /* patrón sutil */
  background-repeat: repeat;
  background-attachment: fixed;
}

/* Estilos de la tarjeta con animación sutil */
.history-card {
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.history-card:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow:
    19px 20px 25px 6px rgba(0, 0, 0, 0.3),
    17px 20px 9px 0px rgba(0, 0, 0, 0.2);
  border-color: whitesmoke;
}
