/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --color-primary: #1e40af; /* Azul Intenso */
  --color-secondary: #dc2626; /* Rojo para destacar */
  --color-text-light: #e1c7b1;
  --color-bg-dark: #111827;
  --color-card-bg: #1f2937;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e8dcc4; /* color base beige/crema */
  background-image: url('/fondo_home.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
}

.text-color-dark {
  color: #1f150c;
}

.text-color {
  // color: #e1c7b1;
  color: white;
}

.container-custom {
  background-color: #1f150ca3;
  // color: #e1c7b1;
  color: white;
}

.container-custom-dark {
  background-color: #1f150c;
}

.btns-color {
  background-color: #fcf8d8;
  color: #1f150c;
}

.btns-color:hover {
  background-color: #f0e6b8;
}

.w-100 {
  width: 100%;
}
